:root {
  --primary-color: #f7c400;
  --secondary-color: #3e3e40;
  --tertiary-color: #b3da81;
  --quaternary-color: #f4f4f4;
  --quinary-color: #84694e; 
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}


html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: bold;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--secondary-color); 
  margin: auto;

}

@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Rum+Raisin&family=Shadows+Into+Light&display=swap");

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header .btn {
  text-transform: uppercase;
}

header a:hover, .about a:hover {
  background: #fcc316;
}

header .btn{
  margin-top: 100px;
}

header {
  padding-top: 10px;
}

header {
  background: #B3DA81 no-repeat fixed center / cover;
  text-align: center;
}

nav ul, .contact ul {
  list-style: none;
  font-size: 0;
}

nav li, .contact li {
  margin-bottom: 1rem; 
  display: inline-block;
}

nav li {
  width: 50%;
}

nav a {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 7px 0;
  line-height: 30px;
}

nav li:nth-child(2n+1) a:after {
  position: absolute;
  content: '';
  top: 19.5px;
  right: -2.5px;
  z-index: 10;
  border-radius: 100%;
  background: steelblue;
  width: 5px;
  height: 5px;
}

.twelve.columns{ 
  width: 100%; 
  margin-left: 0; 
}


/* ABOUT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.images {
  display: flex;
  justify-content: space-evenly;
}

.images > *{
  flex-basis: 100%;
}

.img-text > *{
  flex-basis: 100%;
}

.about {
  background: url("/assets/images/garden.jpg") no-repeat fixed center / cover;
  color: black;
}

.about .one-third, 
.about .two-thirds {
  background: var(--quaternary-color);
  background: rgba(255,255,255,.3);
  padding: 10px;
  border-radius: 5px;
}

.about .one-third {
  margin-top: 20px;
}

.about a {
  margin-top: 50px;
}

.about ul {
  margin-bottom:18px;
}

.about h3:after, .contact h3:after {
  border-color: black;
}

.about .center {
  text-align: center;
}

.about .bottom {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about .one-third a {
  margin: 10px auto;
  width: 50%;
  display: block;
} 

.about .two-thirds p:last-child {
  margin-bottom: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

h1 {
  font-family: "Rum Raisin", sans-serif;
  font-size: 80px;
  color: var(--secondary-color);
  text-shadow: 3px 3px 3px var(--secondary-color);
  text-align: center;
}

h2 {
  color: #3e3e40;
}

h3 {
  margin-bottom: 25px;
  font-size: 3.6rem;
  text-align: left;
  font-family: "Rum raisin";
  color: var(--primary-color);
  text-shadow: 2px 2px 2px var(--secondary-color);
}

h4 {
  font-size: 3.0rem;
  margin: 25px 0 0 0;
  font-family: "Shadows into light";
}

h3:after {
  content: '';
  display: block;
  width: 10%;
  padding-top: 5px;
  border-bottom: 3px solid ;
}

h5 {
  font-size: 2.4rem; 
}

a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: var(--tertiary-color);
  font-size: 14px;
  color: var(--secondary-color);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
}

p{
  font-size: 25px;
}



#info-boxes {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px solid var(--secondary-color);
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

ul {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 50px;
    font-weight: bold;
    /*text-shadow: 3px 3px 3px var(--primary-color);*/
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

li, ul, h2, p {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
    text-shadow: none;
    text-align: center;
    padding: 10px;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 25px; 
}

.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}

button {
  display: flex;
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 550px) {

  nav li {
    width: auto;
  }

  a {
    box-shadow: 0 8px rgb(125, 89, 68);
  }

  nav a {
    padding: 7px;
    border-right: 1px solid #fabd03;
    width: 80px;
  }

  nav li:nth-child(2n+1) a:after {
    content: none;
  }

  nav li:last-child a {
    border-right: none;
  }

  header a:hover, .about a:hover {
    box-shadow: 0 8px #f4ba04;
  }

  header a:active, .about a:active {
    box-shadow: 0 4px #f4ba04;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
  }

  .about .one-third {
    margin-top: 0;
  }
  
  .about .one-third a {
    width: 35%;  
  }

}

/*Weather CSS*/
.current {
  justify-content: center;
}

.weather-info {
display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.5em 0;
  width: 100%;
  color: #f4f4f4;
  font-size: 22px;
  font-weight: lighter;
}